[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/miroslavbelak20
[access "refs/for/refs/*"]
	read = group user/miroslavbelak20
	push = group user/miroslavbelak20
	label-Code-Review = -2..+2 group user/miroslavbelak20
	label-Verified = -1..+1 group user/miroslavbelak20
	rebase = group user/miroslavbelak20
	removeReviewer = group user/miroslavbelak20
	submit = group user/miroslavbelak20
[access "refs/heads/*"]
	read = group user/miroslavbelak20
	create = group user/miroslavbelak20
	push = +force group user/miroslavbelak20
	pushMerge = group user/miroslavbelak20
[access "refs/tags/*"]
	push = +force group user/miroslavbelak20
	pushTag = group user/miroslavbelak20
	pushSignedTag = group user/miroslavbelak20
